* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font: 14pt "Alike", sans-serif;
  background-color:#666666
}


div.confident {
  /* color: black; */
}
div.vague {
  color: lightgrey;
}

#note {
  display: none;
  color: white;
  font-size: 64px;
  display: inline-block;
  height: 30px;
  text-align: left;
}
#detector {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  height: 300px;

  margin-left: auto;
  margin-right: 0;
}

#output {
  width: 400px;
  height: 42px;
}
#flat {
  display: none;
}
#sharp {
  display: none;
}
.flat #flat {
  display: inline;
}
.sharp #sharp {
  display: inline;
}
#newCanvas {
  margin-top:20px;
  border: 1px solid #333;
  /* width: auto; */
  /* height: auto; */
  /* aspect-ratio: 16/9; */
  /* max-width: 100%;
  max-height: 100%; */
  
  background-color: none;
  /* background-image: url('/blue-gradient.webp'); */
  background-size: cover;
  background-position: center;
}

#sidenav { 
  .nav-title__button {
    position: absolute;;
    top: 0;
    right: auto;
    left: 0;
    bottom: 0;
    width: 4rem;
    background-color: #red;
    color: #4d4d4d;
  }
}

#mainbody { 
  margin-left:4rem;
  padding-top:20px;
  color:white;
  background-color:#666;
  font-family:"Futura PT", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height:100%;

}

#mainbody h1 { 
  padding:10px 0 ;
}

#mainbody p { 
  line-height: 30px;
  padding-top: 30px;
  padding-right:10px;
  max-width:50%
}